@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About";
}

<div class="text-designing">
    <div class="row">
        <div class="col-2">
            <div class="max-width-xs">
                <div class="contianer">
                    <img src="~/css/Images/logo.jpeg">
                </div>
                <!--container end-->
            </div>
            <!--max-width end-->
        </div>
        <!--col-2 end-->
        <div class="col-10">
            <div class="max-width-xs">
                <div class="container">
                    <div class="box">
                        <h1> About Us</h1>
                        <p class="font">Mew Hotels is a chain of luxury hotels and a subsidiary of the Indian Hotels Company Limited, headquartered in Mumbai, India. Incorporated by Jamsetji Tata in 1902, the company is a part of the Tata Group, one of India's largest business conglomerates. The company employed over 20,000 people in the year 2010.</p>
                    </div>
                    <!--box end-->
                </div>
                <!--container end-->
            </div>
            <!--max-width-xs end-->
        </div>
        <!--col-10 end-->
    </div>
    <div class="row">
        <div class="row">
            <div class="col-2">
                <div class="max-width-xs">
                    <div class="contianer">
                        <img src="https://res.cloudinary.com/kstotts17/image/upload/c_fill,h_350,w_263/v1516739290/IMG_4419_ajwbxh.jpg">
                    </div>
                    <!--container end-->
                </div>
                <!--max-width end-->
            </div>
            <!--col-2 end-->
            <div class="col-10">
                <div class="max-width-xs">
                    <div class="container">
                        <div class="box">
                            <h1> Meet Me</h1>
                            <p class="font">
                                Enthusiastic programmer, I really like solving challenging problems on various websites like CodeChef and geeksforgeeks.
                                Learning Web Development using some trending technologies to build some beautiful and functional web apps.
                                Currently working on myself to grow my soft skills.
                            </p>
                            <p class="font">
                                It's my email address and contact number. if you have any query please contact on a below detail
                                <br>
                                megha08091999@gmail.com
                                <br>
                                8750573750

                            </p>
                        </div>
                        <!--box end-->
                    </div>
                    <!--container end-->
                </div>
                <!--max-width-xs end-->
            </div>
            <!--col-10 end-->
        </div>
        <!--row end-->
    </div>

    <script src="" async defer></script>
