
<div style="border-bottom : 2px solid grey; display:inline; font-size:50px; font-family:Comic Sans MS; margin-left:40px; margin-bottom:60px "> Mew's Rooms</div>

<br/>
<br />



<div class="container-fluid mx-4">
    <div class="row justify-content-md-center">
        <div class="col-md-auto mx-2" style="max-height:fit-content; max-width:fit-content">
            <img src="~/css/Images/gal6.jpeg" alt="Image 1" style="max-height:fit-content; max-width:600px; border: 5px solid black;" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/css/Images/gal7.jpeg" alt="Image 2" style="max-height:fit-content; max-width:700px; border: 5px solid black;" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/css/Images/gal8.jpeg" alt="Image 3" style="max-height:fit-content; max-width:600px; border: 5px solid black;" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/css/Images/gal12.jpeg" alt="Image 4" style="max-height:fit-content; max-width:600px; border: 5px solid black;" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/css/Images/gal10.jpeg" alt="Image 5" style="max-height:fit-content; max-width:600px; border: 5px solid black;" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/css/Images/gal11.jpeg" alt="Image 6" style="max-height:fit-content; max-width:600px; border: 5px solid black;" />
            <hr />
        </div>
    </div>

</div>