@{
    ViewData["Title"] = "Home Page";
}





  <div id="showcase">
            <div class="container">
                <div class="showcase-content">
                    <h1><span class="text-primary"></span> Welcome to Mew Hotel</h1>
                    <p class="lead" style="font-size:x-large;">Enjoy your day with us </p>
                </div>
            </div>
        </div>